
#goog-logo {
  height: 20%;
  width: 20%;
}
 #search-bar {
   width: 350px;
 }

##### Flexbox #####

.container {
  height: 300px;
  justify-content: center;
  align-items: center;
}

.logo-img,.search-bar,.search-button {
  display: flex;
}
